.app-global{
  position: relative;
  background-color: white;
  direction: rtl;
}

.circle-style{
  padding:10;
  margin:20;
  display:"inline-block";
  background-color: gray;
  border-radius: 50px;
  width:100px;
  height:100px;
}

.main-nav{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li{
  float: left;
}

.main-nav li a{
  text-indent: -999999px;
  overflow: hidden;
  display: block;
  height: 72px;
}