.circle-style{
    padding:10;
    margin:20;
    display:"inline-block";
    background-color: gray;
    border-radius: 35px;
    width:70px;
    height:70px;
}

.circle-style.circle-active {
    background-color: red;
}

