#navigation{
    width:100%;
    height:50px;
    background-color:black;
}

#navigation ul { 
    margin: 0;
    padding:0;
}
 
#navigation ul li {
    display:inline; 
    list-style:none;
    margin-right:25px;
    font-size: 25px;
 }

#navigation li a{
    color:#fff; 
    text-decoration:none;
}
 
#navigation li a:hover{
    text-decoration:underline;
}