.line-style{
    height: 50px;
    width: 5px;
    background-color: black;
    margin-right: 32.5px;
    margin-bottom: -14px;
}

.arrow-down{
    margin-right: 30.215px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.process-icon{
    margin-right: 30px;
    margin-top: 30px;
}